<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Admin</title>
        <link rel="stylesheet"  type="text/css" href="../assets/css/index.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../assets/scripts/loadItems.js"></script>
    </head>
    <body>
        <script>
            $(document).ready(function(){
                $(".deleteUser").click(function(){
                    $(this).parent().remove();
                    deleteUser(this.value);
                });
            });
        </script>
        {{range .users}}
            <div class="usersCard" id="{{.Nickname}}Card">
                <p>{{.Nickname}}</p>
                <p>{{.Password}}</p>
                <!-- <button class="deleteUser" type="button" value="{{.Nickname}}" onclick="deleteUser(this.value);">Delete</button> -->
                <button class="deleteUser" type="button" value="{{.Nickname}}">Delete</button>
            </div>
        {{end}}
    </body>
</html>