<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Pedals'n'helmets</title>
        <link rel="stylesheet"  type="text/css" href="../assets/css/index.css">
        <script type="text/javascript" src="../assets/jquery-3.5.1.js"></script>
        <script type="text/javascript" src="../assets/scripts/index.js"></script>
    </head>
    <body>
        <header id="topbar">
            <div id="logo">
                <h1 id="title">Pedals'n'helmets</h1>
            </div>
            <!-- <div id="welcome">
                <p>Hi, friend! We are tiny cycling network from Kyiv, Ukraine.</p>
                <p>Here you can ask any questions about bicycles, cycling events, bike parts etc.</p>
                <p>By the way, feel free to discuss topics in our resource, your opinion does matter.</p>
            </div> -->
            <div id="btns">
                {{if .nickname}}
                    <form action="http://localhost:8081/userPage" method="post">
                        <button class="inpBtn" type="submit" data-nickname="{{.nickname}}" id="loggedUserNickname">{{.nickname}}</button>
                    </form>
                    <form style="display: inline;" action="http://localhost:8081/logout" method="post">
                        <button id="logoutBtn" class="inpBtn" type="submit">Log Out</button>
                    </form>
                {{else}}
                    <button id="loginBtn" class="inpBtn">Sign In</button>
                    <button id="registerBtn" class="inpBtn">Sign Up</button>
                {{end}}
                {{if .isAdmin}}
                <form style="display: inline;" action="http://localhost:8083/" method="post">
                    <button id="adminBtn" class="inpBtn" type="submit">adminka</button>
                </form>
                {{end}}
            </div>
        </header>
        <aside>
            <div id="loginModal" class="modal">
                <div class="modal-content">
                    <span id="closeLogin" class="close">&times;</span>
                    <p>Login</p>
                    <form action="http://localhost:8081/login" method="post" onsubmit="checkLoginForm(this)">
                        <div class="formItem">
                            <label class="labelItem" for="nickname">Nickname: </label>
                            <input id="loginName" class="inputItem" name="nickname"/>
                        </div>
                        <div class="formItem">
                            <label class="labelItem" for="password">Password: </label>
                            <input id="loginPwd" class="inputItem" type="password" name="password"/>
                        </div>
                        <div class="formItem">
                            <input id="submitLogin" class ="modalButton" type="submit" value="Submit" disabled/>
                        </div>
                    </form>
                </div>
            </div>
            <div id="registerModal" class="modal">
                <div class="modal-content">
                    <span id="closeReg" class="close">&times;</span>
                    <p>Register</p>
                    <form action="http://localhost:8081/register" method="post" onsubmit="checkRegisterForm(this)">
                        <div class="formItem">
                            <label class="labelItem" for="nickname">Nickname: </label>
                            <input id="regName" class="inputItem" name="nickname"/>
                        </div>
                        <div class="formItem">
                            <label class="labelItem" for="password">Password: </label>
                            <input id="pwd1" class="inputItem" type="password" name="password"/>
                        </div>
                        <div class="formItem">
                            <label class="labelItem" for="pwd2">Repeat Password: </label>
                            <input id="pwd2" class="inputItem" type="password" name="pwd2"/>
                        </div>
                        <div class="formItem">
                            <input id="submitReg" class ="modalButton" type="submit" value="Submit" disabled/>
                        </div>
                    </form>
                </div>
            </div>  
        </aside>
        <main id="content">
            <div>
                {{if .nickname}}
                <style>
                    #commentBlock{
                        margin: 20px;
                    }

                    #contentInput{
                        height: 100px;
                    }

                    #commentBlock *{
                        margin: 20px;
                        display: block;
                        width: 30%;
                    }
                </style>
                <div id="commentBlock">
                    <label for="comment">Post as {{.nickname}}: </label>
                    <input style="display: none" name="author" value="{{.nickname}}"/>
                    <input id="titleInput" name="title"/>
                    <textarea id="contentInput" type ="text" name="content"></textarea> 
                    <input class ="button" id="addArticleButton" type="button" value="Post article"/>
                </div>
                {{end}}
                <div id="articles">
                    <!-- {{if .nickname}}
                        <style>
                            .rateButtons{
                                visibility:visible;
                            };
                        </style>
                    {{else}}
                        <style>
                            .rateButtons{
                                visibility:hidden;
                            };
                        </style>
                    {{end}} -->
                    {{if or .isAdmin .isModer}}
                        <style>
                            .editArticle{
                                visibility:visible;
                            };
                        </style>
                    {{else}}
                    <style>
                        .editArticle{
                            visibility:hidden;
                        };
                    </style>
                    {{end}}
                    {{range .payload }}
                    <div class="article" data-date="{{.CreationTime}}">
                        <a href="/article/{{.ID}}">
                        <h2 class="articleTitle">{{.Title}}</h2>
                        </a>
                        <p>{{.PrettyTime}}</p>
                        <p>created by {{.Author}}</p>
                        <p id="content{{.ID}}">{{.Content}}</p>
                        <!-- <p>Rating:</p> -->
                        <!-- <div class="rateButtons">
                            <input class="likeButton" type="button" value="like" data-id="{{.ID}}">
                            <input class="dislikeButton" type="button" value="dislike" data-id="{{.ID}}">
                        </div> -->
                        <div class="editArticle">
                            <input class="editArticleButton" type="button" value="editArticle" data-id="{{.ID}}">
                            <input class="deleteArticleButton" type="button" value="deleteArticle" data-id="{{.ID}}">
                        </div>
                    </div>
                    {{end}}
                    <div id="editModal" class="modal">
                        <div class="modal-content">
                            <span id="closeEdit" class="close">&times;</span>
                            <textarea id="edition" value=""></textarea>
                            <input id="submitEditionButton" value="submitEdition" type="button" data-id=""> 
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
        </footer>
    </body>   
</html>

