<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Message</title>
        <link rel="stylesheet"  type="text/css" href="../assets/css/index.css">
        <script type="text/javascript" src="../assets/jquery-3.5.1.js"></script>
    </head>
    <body>
        <div>
            {{.message}}
        </div>
        <div>
            <form action="http://localhost:8081/">
                <input type="submit" value="MainPage">
            </form>
        </div>
    </body>
</html>